<?xml version="1.0"?>
<config>
	<modules>
		<ParadoxLabs_AuthorizeNetCim>
			<version>1.3.2</version>
		</ParadoxLabs_AuthorizeNetCim>
	</modules>
	<global>
		<blocks>
			<authnetcim>
				<class>ParadoxLabs_AuthorizeNetCim_Block</class>
			</authnetcim>
		</blocks>
		<models>
			<authnetcim>
				<class>ParadoxLabs_AuthorizeNetCim_Model</class>
                <resourceModel>authnetcim_mysql4</resourceModel>
			</authnetcim>
            <authnetcim_mysql4>
                <class>ParadoxLabs_AuthorizeNetCim_Model_Mysql4</class>
                <entities>
                    <card>
                        <table>authnetcim_card_exclude</table>
                    </card>
                </entities>
            </authnetcim_mysql4>
			<sales>
				<rewrite>
					<service_quote>ParadoxLabs_AuthorizeNetCim_Model_Quote</service_quote>
				</rewrite>
			</sales>
			<authorizenet>
				<rewrite>
					<directpost_observer>ParadoxLabs_AuthorizeNetCim_Model_Directpost</directpost_observer>
				</rewrite>
			</authorizenet>
			<checkout>
				<rewrite>
					<type_onepage>ParadoxLabs_AuthorizeNetCim_Model_Onepage</type_onepage>
				</rewrite>
			</checkout>
		</models>
		<resources>
			<authnetcim_setup>
				<setup>
					<module>ParadoxLabs_AuthorizeNetCim</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</authnetcim_setup>
			<authnetcim_write>
				<connection>
					<use>core_write</use>
				</connection>
			</authnetcim_write>
			<authnetcim_read>
				<connection>
					<use>core_read</use>
				</connection>
			</authnetcim_read>
		</resources>
		<events>
			<sales_order_creditmemo_refund>
				<observers>
					<authnetcim_refund>
						<class>authnetcim/observer</class>
						<method>processRefund</method>
					</authnetcim_refund>
				</observers>
			</sales_order_creditmemo_refund>
			<controller_action_predispatch>
				<observers>
					<authnetcim_notification>
						<class>authnetcim/feed</class>
						<method>observe</method>
					</authnetcim_notification>
				</observers>
			</controller_action_predispatch>
		</events>
	</global>
	<crontab>
		<jobs>
			<authnetcim_daily_billing>
				<schedule>
					<cron_expr>0 6 * * *</cron_expr>
				</schedule>
				<run>
					<model>authnetcim/payment::runDailyBilling</model>
				</run>
			</authnetcim_daily_billing>
			<authnetcim_clean_old>
				<schedule>
					<cron_expr>0 5 * * *</cron_expr>
				</schedule>
				<run>
					<model>authnetcim/payment::cleanOldCards</model>
				</run>
			</authnetcim_clean_old>
		</jobs>
	</crontab>
	<default>
		<payment>
			<authnetcim>
				<active>0</active>
				<title>Credit Card (Authorize.Net CIM)</title>
				<cctypes>AE,VI,MC,DI</cctypes>
				<login backend_model="adminhtml/system_config_backend_encrypted"/>
				<model>authnetcim/payment</model>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action>
				<test>1</test>
				<debug>1</debug>
				<validation_mode>liveMode</validation_mode>
				<trans_key backend_model="adminhtml/system_config_backend_encrypted"/>
				<allowspecific>0</allowspecific>
				<currency>USD</currency>
			</authnetcim>
		 </payment>
	</default>
	<frontend>
		<routers>
			<authnetcim>
				<use>standard</use>
				<args>
					<module>ParadoxLabs_AuthorizeNetCim</module>
					<frontName>authnetcim</frontName>
				</args>
			</authnetcim>
			<checkout>
				<args>
					<modules>
						<ParadoxLabs_AuthorizeNetCim before="Mage_Checkout">ParadoxLabs_AuthorizeNetCim</ParadoxLabs_AuthorizeNetCim>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<recurring>
					<file>recurring-profile.xml</file>
				</recurring>
				<authnetcim>
					<file>authnetcim.xml</file>
				</authnetcim>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<authnetcim before="Mage_Adminhtml">ParadoxLabs_AuthorizeNetCim_Adminhtml</authnetcim>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<recurring>
					<file>recurring-profile.xml</file>
				</recurring>
				<authnetcim>
					<file>authnetcim.xml</file>
				</authnetcim>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
	</adminhtml>
</config>