<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Magento
 */
-->
<config>
    <modules>
        <Magentostudy_Stores>
            <version>1.0.0.0.1</version>
        </Magentostudy_Stores>
    </modules>
    <global>
        <models>
            <magentostudy_stores>
                <class>Magentostudy_Stores_Model</class>
                <resourceModel>stores_resource</resourceModel>
            </magentostudy_stores>
            <stores_resource>
                <class>Magentostudy_Stores_Model_Resource</class>
                <entities>
                    <stores>
                        <table>magentostudy_stores</table>
                    </stores>
                </entities>
            </stores_resource>
        </models>
        <helpers>
            <magentostudy_stores>
                <class>Magentostudy_Stores_Helper</class>
            </magentostudy_stores>
        </helpers>
        <blocks>
            <magentostudy_stores>
                <class>Magentostudy_Stores_Block</class>
            </magentostudy_stores>
        </blocks>
        <resources>
            <magentostudy_stores_setup>
                <setup>
                    <module>Magentostudy_Stores</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </magentostudy_stores_setup>
        </resources>
        <events>
            <before_stores_item_display>
                <observers>
                    <magentostudy_stores>
                        <class>magentostudy_stores/observer</class>
                        <method>beforeStoresDisplayed</method>
                    </magentostudy_stores>
                </observers>
            </before_stores_item_display>
        </events>
    </global>
    <frontend>
        <routers>
            <magentostudy_stores>
                <use>standard</use>
                <args>
                    <module>Magentostudy_Stores</module>
                    <frontName>stores</frontName>
                </args>
            </magentostudy_stores>
        </routers>
        <layout>
            <updates>
                <magentostudy_stores>
                    <file>magentostudy_stores.xml</file>
                </magentostudy_stores>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magentostudy_Stores before="Mage_Adminhtml">Magentostudy_Stores_Adminhtml</Magentostudy_Stores>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magentostudy_stores>
                    <file>magentostudy_stores.xml</file>
                </magentostudy_stores>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <stores>
            <view>
                <enabled>1</enabled>
                <items_per_page>20</items_per_page>
                <days_difference>3</days_difference>
            </view>
        </stores>
    </default>
</config>